
/* CSS NOTES */
/* MICHAEL DIEDRICKS PORTFOLIO
  Master Styles
  Author: Michael Diedricks (michael.diedricks@gmail.com)

/* GLOBAL SETTINGS */
:root{
  --green1: #a7ff83;
  --green2: #17b978;
  --green3:  #086972;
  --green4:  #071a52;
  --link-grey: rgb(136, 136, 136);
  --text-grey: rgb(85, 85, 85);
  --icon-grey: rgb(192, 192, 192);
  --nav-grey: rgb(245, 245, 245);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body{
  width: 100%;
  height: 100%;
}

.App{
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

a{
  color: var(--link-grey);
  text-decoration: none;
}
a:visited{
  color: var(--link-grey);
  text-decoration: none;
}

ion-icon {
  font-size: 30px;
  color: var(--icon-grey);
  transition: all 0.3s ease-in-out;
}

ion-icon:hover {
  color: #17b978;
  transform: scale(1.15);
  transform-origin: center;
}



/* BASE STYLES */
.container{
  margin: 0 5%;
}

.main{
  padding-bottom: 6rem;
}



/* NAVIGATION */


.navbar{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.nav-left{
  display: flex;
  justify-self: start;
  align-items: center;
}
.brand{
  font-size: 1.5rem;
  font-weight: bold;
  padding:0 1rem;
  transition: all 0.5s ease-in-out;
}
.title-logo{
  padding-left: 0.5rem;
}
.nav-left:hover {
  color: var(--green2)
}
.nav-left:hover ion-icon{
  color: var(--green2);
  transform: scale(1.15);
}


/* right navigation */
.nav-right{
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  transform: scale(1, 0);
  transition: transform 300ms ease-in-out;
  transform-origin: top;
}
.nav-right ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-right li{
  margin-bottom: 1em;
  margin-right: 1em;
}
.nav-right a{
  font-size: 1rem;
  font-weight: light;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav-right label{
  font-size: 1rem;
  font-weight: light;
  color: var(--link-grey);
  cursor: pointer;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav-right a:hover{
  color: var(--green2)
}
.nav-right label:hover{
  color: var(--green2)
}
.nav-toggle{
  display: none;
}
.nav-toggle:checked ~ .nav-right{
  transform: scale(1,1);
}
.nav-toggle:checked ~ .nav-right a{
  opacity: 1;
  transition: opacity 200ms ease-in-out 200ms;
}
.nav-toggle:checked ~ .nav-right label{
  opacity: 1;
  transition: opacity 200ms ease-in-out 200ms;
}


/* PAGE STRUCTURE */

/* home page */

.message{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2rem 3rem 1.5rem 3rem;
  font-size: 1.8rem;
  color: var(--text-grey);
}
.message p{
  width: 80%;
}
.sub-text{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: var(--link-grey);
}
.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.8rem 1.6rem 0 1.6rem;
}
.skills ion-icon{
  font-size: 2.3rem;
  padding: 0 0.5rem;
}
#react ion-icon{
  color: rgb(27, 202, 255);
}
#firebase ion-icon{
  color: rgb(255, 183, 27);
}
#html ion-icon{
  color: rgb(255, 54, 27);
}
#css ion-icon{
  color: rgb(27, 80, 255);
}
#js ion-icon{
  color: rgb(255, 232, 27);
}
.new-skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.6rem 1.6rem 0 1.6rem;
}
.new-skills ion-icon{
  font-size: 1.9rem;
  padding: 0 0.5rem;
}
.other-skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.6rem 1.6rem 0 1.6rem;
}
.other-skills ion-icon{
  color: var(--link-grey);
  font-size: 1.6rem;
  padding: 0.5rem 0.5rem;;
}



/* About */
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
}
.card img{
  width: 80%;
}
.text-block{
  padding: 0 1rem;
}
.main-line{
  font-size: 1.5rem;
  margin: 1rem 1.5rem;
  text-align: center;
}
.one-liner{
  margin: 1rem 1.5rem;
  text-align: center;
}
.card-reverse {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
}
.card-reverse img{
  width: 85%;
}


/* projects */
.project-controls{
  display: none;
}
.project-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
}
.project-card{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.project-image{
  overflow: hidden;
  object-fit: contain;
  height: 250px;
  border-radius: 7px;
  transition: all 600ms ease-in-out;
}
.project-image img{
  width: 100%;
  transition: all 600ms ease-in-out;
  transform-origin: top left;
}
.project-image:hover{
  box-shadow: 5px 5px 9px var(--icon-grey); 
  transition: all 600ms ease-in-out;
}
.project-image img:hover{
  transform: scale(1.03);
  transform-origin: top left;  
}
.project-info h2{
  padding-top: 1rem;
  padding-bottom: 0.9rem;
}
.project-info h4{
  padding-bottom: 0.5rem;
}
.project-info h5{
  padding-bottom:  0.5rem;
}
.project-info p{
  padding-bottom:  0.8rem;
}
.technologies{
  padding-bottom: 0.5rem;
}
.technologies ul{
  list-style: none;
}
.technologies li{
  display: inline-block;
  padding-left: 1rem;
}




/* FOOTER */
footer{
  background-color: var(--nav-grey);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto; 
}
.footer{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.footer .nav-item{
  padding: 0 0.5rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 800px){
  .App{
    min-height: 100vh;
  }
  
  .container{
    margin: 0 15%;
  }
  .nav-toggle-label{
    display: none;
  }
  .nav-right{
    all: unset;
    /* text-align: right; */
  }
  .nav-right ul{
    display: flex; 
  }
  .nav-right li{
    margin: 0;
    padding: 0;
    padding-left: 1.5rem;
    list-style: none;
    cursor: pointer;
  }
  .nav-right a{
    opacity: 1;
    font-size: 1rem;
    font-weight: light;
    color: var(--link-grey);
  }
  .nav-right label{
    font-size: 1rem;
    font-weight: light;
    color: var(--link-grey);
    cursor: pointer;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
  }
  .nav-right label:hover{
    color: var(--green2)
  }

  /* home section */
  .message p{
    justify-content: center;
    width: 75%;
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  .sub-text{
    padding: 1rem 0 0 0;
    margin: 0;
  }
  .skills{
    margin: 0;
    padding: 1.2rem;
  }
  .skills ion-icon{
    font-size: 5rem;
    padding: 0 0.5rem;
  }
  .new-skills{
    margin: 0;
    padding:1.2rem;
  }
  .new-skills ion-icon{
    font-size: 3.3rem;
    padding: 0 0.5rem;
  }
  .other-skills{
    margin: 0;
    padding: 1.2rem;
  }
  .other-skills ion-icon{
    font-size: 2.4rem;
    padding: 0 0.5rem;
  }


  /* about section */
  .card{
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0;
  }
  .card img{
    width: 50%;
  }
  .text-block{
    padding: 0 1.5rem;
  }
  .main-line{
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: left;
  }
  .one-liner{
    margin: 1rem 0;
    text-align: left;
  }
  .card-reverse {
    display: flex;
    flex-direction: row-reverse;
    margin: 1.5rem 0;
  }
  .card-reverse img{
    width: 50%;
  }


  /* project menu toggle */
  .nav-project{
    right: 00%;
    top: 2.7rem;
    transform: scale(1, 0);  
    transition: transform 300ms ease-in-out;
    transform-origin: top;
  }
  .nav-project ul{
    display: block;
    text-align: right;
  }
  .nav-project li{
    color: var(--link-grey);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    cursor: pointer;
    margin-top: 0.6rem;
  }
  .nav-project li:hover{
    color: var(--green2)
  }
  .nav-project-toggle{
    display:none;
  }
  .nav-project-toggle:checked ~ .nav-project{
    transform: scale(1,1);
  }
  .nav-project-toggle:checked ~ .nav-project li{
    opacity: 1;
    transition: opacity 200ms ease-in-out 100ms;
  }

  /* display controls for each project */
  #p1{
    display: flex;
  }
  #p2{
    display: none;
  }
  #p3{
    display: none;
  }
  #p4{
    display: none;
  }
  #p5{
    display: none;
  }

  .toggle-title{
    padding: 0.1rem 2rem;
  }
  .project-controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .project-content{
    height: auto;
    margin: 0;
  }
  .project-card{
    flex-direction: row;
  }
  .project-image{
    overflow: hidden;
    object-fit: cover;
    height: 90%;
    margin-right: 1rem;
  }
  .project-image img{
    height: 100%;
    transition: all 2s ease-in-out;
    transform-origin: top left;
  }
  .project-info{
    width: 80%;
  }
  .project-info h2{
    padding-top: 0;
    padding-bottom:0.5rem;
  }
  .project-info h5{
    padding-bottom: 0.5rem;
  }



/* footer */
  footer{
    background-color: var(--nav-grey);
    height: auto;
  }
}

@media screen and (max-width: 800px){
  #p1{
    display: flex;
  }
  #p2{
    display: flex;
  }
  #p3{
    display: flex;
  }
  #p4{
    display: flex;
  }
  #p5{
    display: flex;
  }
}




/* TEST BUILD STYLES */

.test{
  border: 1px solid black;
  background-color: var(--icon-grey);
}